.reviews__review-user-container
  text-align: right

.reviews__review-user-image
  width: 40px
  height: 40px
  +border-radius(50%)

.reviews__review-user-name
  color: #444

.reviews__review-created-time
  color: #444

.reviews__review-edit-form
  display: none
