%li.user
  .user__header
    = image_tag user.image_url, class: 'user__image'
    = link_to user do
      .user__name= user.name
    .user__review-count
      レビュー
      %span.user__review-count-number #{user.reviews_count}
      件
