%li.list-group-item
  .restaurant
    .restaurants__restaurant_name
      = link_to restaurant.name, restaurant
    .restaurants__restaurant_tags
      - restaurant.tag_list.each do |tag|
        %span.tag-name= tag
