.restaurants__detail-header
  =link_to restaurant.name, restaurant, class: 'restaurants__detail-name'
  .restaurants__detail-tags
    - restaurant.tag_list.each do |tag|
      %span.tag-name= tag
.restaurants__detail-description
  お店の説明がここに書かれます。
.restaurants__detail-reviews-container
  %p.restaurants__detail-reviews-header
    レビュー:
  .restaurants__detail-reviews
    レビューがここに書かれます。