- show_map ||= false
.restaurants__detail-header
  = link_to restaurant.name, restaurant, class: 'restaurants__detail-name'
  .restaurants__detail-tags
    - restaurant.tag_list.each do |tag|
      %span.tag-name= tag
.restaurants__detail-description
  = restaurant.description
- if show_map
  #map-canvas{data: {lat: restaurant.latitude, lng: restaurant.longitude, name: restaurant.name}}
  - if user_signed_in?
    = link_to '編集', edit_restaurant_path(@restaurant), class: 'btn btn-primary btn-sm'
.restaurants__detail-reviews-container
  %p.restaurants__detail-reviews-header
    レビュー:
  .restaurants__detail-reviews
    レビューがここに書かれます。
