.row
  .restaurants__sidebar.col-md-4
    .restaurants__restaurants_list
      %ul.list-group
        - @restaurants.each do |restaurant|
          = render 'restaurants/list_item', restaurant: restaurant
  .restaurants__main.col-md-8
    #map-canvas-index
    %hide#restaurants-data{data: { restaurants: restaurants_to_data(@restaurants) }}
    .restaurants__detail
      店詳細