.row
  .col-md-4
    .restaurants__restaurants_list
      %ul.list-group
        = render @restaurants
  .col-md-8
    #map-canvas-index
    %hide#restaurants-data{data: { restaurants: restaurants_to_data(@restaurants) }}
