#map-canvas,
  width: 800px
  height: 400px

#map-canvas-index
  width: 100%
  height: 400px

.restaurants__restaurant_name
  font-size: large
  margin-bottom: 4px

.restaurant
  margin: 6px

.tag-name
  color: #3e6d8e
  background-color: #e0eaf1
  border-bottom: 1px solid #b3cee1
  border-right: 1px solid #b3cee1
  padding: 3px 4px 3px 4px
  margin: 2px 2px 2px 0
  text-decoration: none
  font-size: 60%
  line-height: 1.4
  white-space: nowrap
  display: inline-block
