%p
  #{@resource.name}さん、こんにちは!
%p 誰かがパスワードの変更を要求しました。以下のリンクでパスワードが変更可能です。
%p= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token)
%p パスワード変更を要求したおぼえがないなら、このメールを無視してください。
%p このリンクにアクセスして新しいパスワードを設定しなければ、変更はされません。
